h3 {
  text-align: center;
  color: black;
  font-weight: bold;
}

ul {
  list-style: none;
}

#add {
  text-align: center;


}

.jumbotron {
  text-align: center;


}

.btn {
	color: black;
	font-weight: bold;
}

body {
	background-image: url("../images/burger.jpg");
}

